{% extends "base.html" %}
<meta http-equiv="refresh" content="5" >

{% load  staticfiles %}

{% block title %}
	<title>AfterHacks</title>
{% endblock %}

{% block navbar %}      
{% include "main_nav.html" %}
{% endblock %}


{% block content %}

<div class="container">
Test Container

</div>

<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">



{% endblock %}

