click==6.7
defusedxml==0.4.1
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
oauthlib==2.0.1
PyJWT==1.4.2
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
Werkzeug==0.12.1
